@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "chaney";
    src: url("../public/fonts/chaney-ultraextended-webfont.woff") format("woff"),
      url("../public/fonts/chaney-ultraextended-webfont.woff2") format("woff2");
  }
}

.intro-text {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}


:root {
  --padding-section-lg: 30px;
  --padding-section-md: 25px;
  --padding-section-sm: 20px;

  --padding-icon-lg: 10px
  --padding-icon-sm: 5px

}


.light {
  --background: #ffffff;
  --primary: #f3f3f3;
  --primary-dim: #dedede;
  --secondary: #8eabb4;
  --secondary-dim: #155263;
  --text-color: #155263;
  --text-color-dim: #8eabb4;
  --icon-color: #155263;
  --border-color: #dedede; 
}

.dark {
  --background: #0f0f0f;
  /* --primary: #2d2d2d; */
  --primary: #18181a;
  --primary-grad-1: #2f323a;
  --primary-grad-2: #212226;
  /* --primary-dim: #0f0f0f; */
  --primary-dim: #000000;
  --secondary: #f3f3f3;
  --secondary-dim: #dedede;
  --text-color: #f3f3f3;
  --text-color-dim: #8b8b8b;
  --icon-color: #f3f3f3;
  /* --border-color: #5a5a5a; */
  --border-color: #616267;
  --fadingColor: #201f1f;
}

.blockToAnimate {
  animation : appear linear;
  animation-timing-function: ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translateX(-100%); */
  }

  to {
    opacity: 1;
    scale: 1;
    /* transform: translateX(0); */
  }
}